<%- include('./partials/header.js') %>
    <h1><%= saludo %> a todos</h1>

    <% for (let x = 0; x<=50; x++) { %>
        <h2><%= x %></h2>
        
    <% } %>
<%- include('./partials/footer.js') %>